@import "./main.scss";
@import "./home.scss";

@font-face {
    font-family: 'DOHYEON';
    src: url('/src/assets/fonts/BMDOHYEON_ttf.ttf');
}
@font-face {
    font-family: 'HANNA';
    src: url('/src/assets/fonts/BMHANNAAir_ttf.ttf');
}